.footer{

  background-color: black;
  position:fixed;
  bottom: 0;
  width: 100%;
  color: white;

}

.header{
  display: flex;
  position:fixed;
  top:0;
}
.navbar{
  display: flex; 
  list-style: none; 
}

li{
  margin: 10px;
}

a{
  text-decoration: none;
}