

.footer {
  display: flex;
  background-color: black;
  height: 209px;
  width: 100%;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.footer img{
  width: 122px;
  height: 39px;
}

.logo{

  width: 210.32px;
  height: 68px

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.navbar {
  display: flex;
  gap: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
.general_container{
  width: 1240px;
  margin: auto;
}
.banner_container {
  border: solid 1px red;
  margin-top: 50px;
}

.img-banner {

  width: 1240px;
  height: 223px;
  object-fit: cover;
  border-radius: 20px 20px;
  background-position: center;
  position: relative;
}

.navbar {

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  gap: 70px;



}

.navbar a {

  color: #FF6060;
}

.navbar a:hover {

  border-bottom: solid 1px red;


}

.title_banner {

  color: white;
  position: absolute;
  top: 0;
  left: 0;
}



.hero-image {
  margin-top: 50px;
  background-image: linear-gradient(#0000004e, rgba(0, 0, 0, 0.432)), url("./img/banniere.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 223px;
  object-fit: cover;
  border-radius: 20px 20px;
  margin-bottom: 20px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Montserrat;




}

.hero-text h1 {

  font-size: 40px;
  font-weight: 500;
}

.card{

 
}


.card img {
 
}

.logements{
  display: grid ;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card img{
  width: 340px;
  height: 340px;
}

@media only screen and (max-width: 600px){

  .header{
    width: 100%;
    justify-content: flex-start;
  }
 .logements{
    grid-template-columns: repeat(1, 1fr);
    justify-items: normal;
 }
}

